body{
    line-height: 2.5em;
    background: linear-gradient(183deg,rgba(232, 14, 221, 1) 0%, rgba(161, 51, 171, 1) 51%, rgba(113, 33, 156, 1) 100%);
    color:rgb(69, 69, 69);
    padding-left:100px;
}


.cont{
    width:1200px;
    height:775px;
    margin:0px;
}

.form-cont{
    background: white;
    padding:20px;
    border-radius: 20px;
    width:600px;
    margin: 50px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

legend{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
input{
    margin:8px;
}

option{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
fieldset{
    border:0px;
}

.btn{
    border:1px solid black;
    border-radius: 17px;
    padding:9px;
    background: rgb(255, 255, 255);
    color: rgb(9, 9, 9);
    cursor: pointer;
}

.btn:hover
{
    background:blue;
    color:white;
    transform: scale(115%) translateY(-4px);
}