body{background:#D8D8D8;}
.rect{
    background:#558C90;
    left:40px;
    top:30px;
    height:80px;
    width:160px;
    z-index: 2; /* Per ensenyar-ho al navegador em sortien fora d'ordre, li he afegit z-index per solucionar-ho*/
}
#baix{
    top:190px;
    left:200px;
}
div {
    position:absolute;
    left:120px;
    top:30px;
    width: 160px;
    height: 240px;
    background: #D99795;
    z-index: 1; /* Per ensenyar-ho al navegador em sortien fora d'ordre, li he afegit z-index per solucionar-ho*/
}